body {
    background: #fff;
}

h1 {
    color: #f00;
    text-shadow: 2px 2px lightgray;
}

p {
    color: blue;
}

h2.h2-info {
    color: coral;
}

h3#h3-info {
    background: lightgray;
    color: forestgreen;
    border: 2px solid gray;
}